<div class="bg">
    <div class="container" >
    <div class="row">
    <div class="col-3 mt-5">
      <div class="d-flex flex-column align-items-start justify-content-center">
        <div class="">
        <div class="">
            <a class="navbar-brand" href="#">
                <%= image_tag("sseed.png", {:style => "width:150px;"}) %>
    
            </a>
          </div>
        <a class="nav-link " href="/index">Home</a>
        <a class="nav-link " href="/oursolutions">Our Solutions</a>
        <a class="nav-link" href="#">About Us</a>
        <a class="nav-link " href="/references">References</a>
        <a class="nav-link active" href="/contact">Contact Us</a>
        <a class="nav-link" href="/login">Login</a>
      </div>
      </div>
    </div>
    <div class="col-4 d-flex flex-column align-content-center mt-6">
        <div class="mt-4">AdressAdressAdressAdress <br>AdressAdressAdressAdress</div>
        <div class="mt-5">+90 212 987 3648</div>
        <div class="mt-5">info@sseed.com</div>
    </div>
 
    <div class="col-3 d-flex flex-column align-content-center mt-6">
        <form action="POST">
            <label for="">Name</label> <br>
            <input type="text"><br>
            <label for="">Company</label> <br>
            <input type="tel"><br>
            <label for="">Industry</label> <br>
            <input type="text"><br>
            <label for="">Email</label> <br>
            <input type="text"><br>
            <label for="">Contact Number</label> <br>
            <input type="text"><br>
           
         
        </form>
    </div>
        
    </div>
    </div>
    </div>
    
    