<div class="bg">
<div class="container" >
<div class="row">
<div class="col-4 mt-5">
  <div class="d-flex flex-column align-items-start justify-content-center">
    <div class="">
    <div class="">
        <a class="navbar-brand" href="#">
            <%= image_tag("sseed.png", {:style => "width:150px;"}) %>

        </a>
      </div>
    <a class="nav-link active" href="/index">Home</a>
    <a class="nav-link" href="/oursolutions">Our Solutions</a>
    <a class="nav-link" href="#">About Us</a>
    <a class="nav-link" href="/references">References</a>
    <a class="nav-link" href="/contact">Contact Us</a>
    <a class="nav-link" href="/login">Login</a>
  </div>
  </div>
</div>
<div class="col-2"></div>
<div class="col-6 d-flex flex-column justify-content-center align-items-center text-center">
  <div class="container">
        <h2>Need help?</h2>
        <h3>We are here for you</h3>
        <h4>Desiring to get funded? ?</h4>
        <p>You are in a right place With our sources and expertise, <br> we are ready to help
          <a href="/login">Click here and start your journey
          </a>
        </p>
  </div>
</div>
    
</div>
</div>
</div>

