<div class="bg2">
<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="denemdiv">
        <div class="loginForm bg-light p-5" >
            <div class="text-center">
        <%= image_tag("sseed.png", {:style => "width:15rem;"}) %></div>
        <form method="post">
            <div class="txt_field">
                <label for="">Email </label><br>
                <input class="inputs" type="email" required="">
    
               
            
            </div>
            <div class="txt_field">
                <label for="">Password</label><br>
                <input class="inputs" type="password" required="">
            </div>
<div class="text-center m-2">
            <%= image_tag("recaptcha.png", {:style => "max-width:18rem; max-height:auto;"}) %>

        </div>
            <div class="signup_link">
                Not a member? <a href="#">Sign Up</a>
            </div>
            <div class="homePage">
                Go back to <a href="/">Main Page</a>
            </div>
        </form>
    </div><div>
</div>
</div>
    