<div class="bg">
<div class="container" >
<div class="row">
<div class="col-4 mt-5">
  <div class="d-flex flex-column align-items-start justify-content-center">
    <div class="">
    <div class="">
        <a class="navbar-brand" href="#">
            <%= image_tag("sseed.png", {:style => "width:150px;"}) %>

        </a>
      </div>
    <a class="nav-link " href="/">Home</a>
    <a class="nav-link active" href="/oursolutions">Our Solutions</a>
    <a class="nav-link" href="#">About Us</a>
    <a class="nav-link" href="/references">References</a>
    <a class="nav-link" href="/contact">Contact Us</a>
    <a class="nav-link" href="/login">Login</a>
  </div>
  </div>
</div>
<div class="col-6 d-flex flex-column align-content-center mt-9">
<h2>What we offer ...</h2>
<ul class="align-self-stretch">
    <li>Sseed platform to meet investors from all around the world in a trustable environment
    </li>
    <li>Sseed platform to meet investors from all around the world in a trustable environment
    </li>
    <li>Networking</li>
</ul>
</div>
    
</div>
</div>
</div>

